<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Barra lateral para ver como fica na pagina -->
<app-sidebar></app-sidebar>

<body>

  <title>Gestores</title>

  <div class="container">
    <div class="form">
    
      <form action="" method="post">
        <div class="form-header">
          <div class="input-group">
            <div class="input-box">
              <label for="idtcs">Id Tcs: </label>
              <input
                type="number"
                name="idtcs"
                id="idmanager"
                placeholder="Digite seu ID Tcs"
                request
              />
            </div>

            <div class="input-box">
              <label for="gestor">Gestor: </label>
              <input
                type="text"
                name="gestor"
                id="manager"
                placeholder="Digite seu nome"
                request
              />
            </div>

            <div class="input-box">
              <label for="cell">Celular: </label>
              <input
                type="tel"
                name="cell"
                id="cell"
                placeholder="(xx) xxxxx-xxxx"
                request
              />
            </div>

            <div class="input-box">
              <label for="project">Projeto: </label>
              <input
                type="text"
                name="project"
                id="project"
                placeholder=""
                request
              />
            </div>

            <div class="input-box">
              <label for="email">Email: </label>
              <input type="email" name="email" id="email" placeholder="" />
            </div>

            <hr class=line size="1" width="100%" noshade  style="margin-top: 7px; margin-bottom: 7px;">

            <div class="input-radio">
              <label for="X">Perfil: </label>
              <input type="radio" name="Gestor" id="x" />
            </div>

            <div class="input-radio">
              <label for="X">Status: </label>
              <input type="radio" name="Ativo" id="x" />
            </div>
            <div class="input-radio">
              <label for="X">Perfil: </label>
              <input type="radio" name="Gestor" id="x" />
            </div>

            <div class="input-radio">
              <label for="X">Status: </label>
              <input type="radio" name="Ativo" id="x" />
            </div>
          </div>
        </div>

        <div class="buttomtosave">
          <input  type="submit" name="buttomtosave" value="Salvar" id="buttomtosave">
        </div>
      </form>
    </div>
  </div>
</body>
