<!-- Barra lateral para ver como fica na pagina -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<body>
    <app-sidebar></app-sidebar>
    <div class="cont">
        <h1 class="pageName">Entrevistados</h1>

        <div class="input-group">
            
            <select select [ngModel]="selected" (ngModelChange)="onChange($event)" class="selecionar" >
                <option value="name">Nome</option>
                <option value="id">ID</option>
                <option value="skills">Competencias</option>
                <option value="project">Ultimo Projeto</option>
                <option value="manager">Gestor</option>
            </select>
            <button class="input-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input [(ngModel)]="filteredname" class="input-search" id="searchbar" name="search" placeholder="Pesquisar" >
        </div>

        <div *ngFor="let interview of interviews | filterInterview:filteredname:selected" class="container">
            <h1 class="userName">{{interview.employee.name}}</h1>

            <div class="infos">
                <div class="companyInfos">
                    <h3>Último projeto:</h3>
                    <h3>Gestor:</h3>
                    <h3>Especialidade:</h3>
                </div>

                <div class="employeeInfo">
                    <h3><b>{{interview.employee.project.name}}</b></h3>
                    <h3><b>{{interview.employee.project.manager.name}}</b></h3>
                    <h3><span *ngFor="let item of interview.employee.skills">{{item.name}} |</span></h3>
                </div>
            </div>

            <div class="icons">
                <a href="tel{{interview.employee.phone}}"><span class="material-symbols-outlined">call</span></a>
                <a href="mailto:{{interview.employee.email}}"><span class="material-symbols-outlined">mail</span></a>
                <a href="#"><span class="material-symbols-outlined" id="penEdit">edit</span></a>
            </div>
            <hr>
        </div>
    </div>
        
</body>