<div class="main-container">
    <h1>Disponibilidade</h1>
    <div class="container">
        <div class="employeeInfos">
            <label for="">Id Tcs:</label>
            <input type="number" name="idTcs" id="idtcs" placeholder="Digite seu ID Tcs">
        </div>
        
        <div class="employeeInfos">
            <label for ="">Associado: </label>
            <input type="text" name="associate" id ="idassociate" placeholder = "Digite seu nome">
        </div>

        <div class="employeeInfos">
            <label for="">Celular:</label>
            <input type="number" name="cell" id="idcell" placeholder="Digite seu número">
        </div>
        
        <div class="employeeInfos">
            <label for="">Data disponível:</label>
            <input type="datetime" name="dateAvailable" id="iddateAvailable">
        </div>

        <div class="employeeInfos">
            <label for="">Gestor</label>
            <input type="text" name="manager" id="idmanager" placeholder="Digite o nome do Gestor">
        </div>

        <div class="employeeInfos">
            <label for="">Projeto:</label>
            <input type="text" name="project" id="idproject" placeholder="Informe a qual projeto está alocado">
        </div>
        
        <div class="employeeInfos">
            <label for="">Email:</label>
            <input type="email" name="email" id="idemail" placeholder="email@exemplo.com">
        </div>
    </div>
</div>



