<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="sidebar">
    <img routerLink="/dashboard" src="assets/LogoTcsBranco.png" alt="Logo TCS">
    <a routerLink="/"><div class="hide"><span id="ss" class="material-symbols-outlined" title="Meus dados">person</span> Meus Dados</div></a>
    <a routerLink="/employe"><div class="hide"><span class="material-symbols-outlined" title="Associados">military_tech</span> Associados</div></a>
    <a routerLink="/newemploye"><div class="hide"><span class="material-symbols-outlined" title="Nova Disponibilidade">event_available</span> Nova Disponibilidade</div></a>
    <a routerLink="/availability"href=""><div class="hide"><span class="material-symbols-outlined" title="Todas as Disponibilidades">calendar_month</span> Todas Disponibilidades</div></a>
    <a routerLink="/interviews"><div class="hide"><span class="material-symbols-outlined" title="Entrevistados">group</span> Entrevistados</div></a>
    <a routerLink="/manager"><div class="hide"><span class="material-symbols-outlined" title="Gestores">assignment_ind</span> Gestores</div></a>
    <a id="exit" href="#"><div class="hide"><span id="iconExit" class="material-symbols-outlined" title="Associados">logout</span> Sair</div></a>
</div>

