@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }

.sidebar {
    position:fixed;
    width: 20%;
    
    top: 0;
    right: 0;
     /*altera o lado do sidebar*/
    bottom: 0;
    padding: 0%;
    background-color: #F2388f;
}

img {
    cursor: pointer;
    width: 270px;
    height: 140px;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    margin-bottom: 20px;
}

span {
    margin-right: 8px;
    font-size: 22px;
}

.hide {
    display: inline-block;
    font-size: 18px;
}

.sidebar a:hover {
    color: #ccc;
    margin-left: 20px;
    transition: 0.4s;
}

.hide:hover{
    display: block;
}

/* Tamanho dos icons. Apenas o icon do sair não está incluso */
.material-symbols-outlined {
    font-size: 30px;
}

#exit {
    position: relative;
    top: 15%;
    left: 70%; 
    font-size: 22px;
}

#iconExit {
    font-size: 20px;
}


@media screen and (max-width: 900px) {
    .sidebar {
        
        width: 100%;
        display: grid;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        position: initial;
    }
    img{
        width: 135px;
        height: 70px;
    }
    .hide {
        display: flex;
    }
    span{
        font-size: 27px;
    }
    #exit {
        position: initial;
        font-size: 20px;
    }
    #iconExit {
        font-size: 27px;
    }
}