@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    width: 250px;
    top: 0;
    right: 0; /*altera o lado do sidebar*/
    bottom: 0;
    padding: 50px;
    background-color: #F2388F;
}

img {
    width: 270px;
    height: 140px;

}

.sidebar a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    letter-spacing: 2px;
}

.sidebar a:hover {
    color: #ccc;
    margin-left: 20px;
    transition: 0.4s;
}