<!-- Barra lateral para ver como fica na pagina -->
<app-sidebar></app-sidebar>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <body>

        <div class="associados">
            <H1 class="titulo">Entrevista</H1>
            
            
            <div class="principal">
                <h1 class="mb-1">Abelardo Barbosa</h1>
                <div div class="part1">
                    <div>
                        <h3>Último projeto:</h3>
                        <h3>Gestor:</h3>
                    </div>
                    <div>
                        <h3><b>Itau Torre 3</b></h3>
                        <h3><b>Gilberto Anderson</b></h3>
                    </div>
                </div>
                <div style="margin-bottom: 15px;">
                    <h3>Especialidade:</h3>
                    <h3><b>Angular | .Net | Java | MySQL</b></h3>
                </div>
                <div>
                    <h3>Comentários:</h3>
                    <h3><b>Atende as expectativas, iremos aloca-lo</b></h3>
                </div>
                <div class="simbolos">
                    <a href=""><span class="material-symbols-outlined">call</span></a>
                    <a href=""><span class="material-symbols-outlined">mail</span></a>
                    <a href=""><span class="material-symbols-outlined" id="edit">edit</span></a>
                    
                </div>
                <hr class=line size="1" width="100%" noshade>
            <div class="bot">
                <button type="button" class="btn" style="background-color: red;">Reprovado</button>
                <button type="button" class="btn" style="background-color: rgb(0, 187, 0);">Aprovado</button>
            </div>
            

        </div>
    </div>
</body>