* {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 70%;
    margin-left: 4%;
    justify-content: center;
}

button:hover{
    background-color: #007dc5;
}



.input-search{
    font-size: 13px;
    border: 0.5px solid rgb(231, 231, 231);
    width: 40%;
    border-left: none;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 10%;
    height: 35px;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 10px;
    float: right;
} 

hr {
    color: #ccc;
}

.pageName {
    margin-left: 30%;
    margin-top: 40px;
    color: #0477BF;
    width: 50%;
}
.input-button{
    width: 30px;
    border: 0.5px solid rgb(231, 231, 231);
    color: rgb(92, 92, 92);
    background-color: white;
    border-right: none;
    height:100%;
}

.userName {
    font-weight: 500;
}

.infos {
    display: flex;
    align-items: row;
    font-weight: 400;
}

.companyInfos {
    color: #717171;
}

.employeeInfo {
    margin-left: 50px;
    font-style: bold;
}

.icons {
    margin-top: 15px;
}

.icons a{
    margin: 15px;
    color: black;
    font-size: 15px;
}

#penEdit {
    color: red;
}


.input-group{
    width: 67%;
    display: flex;
    justify-content: center;
    margin: 20px 50px 0 50px;
    width: 70%;
    height: 35px;
    margin-bottom: 5vh;
    border-radius: 0%;
}
.input-search{
    font-size: 13px;
    border: 0.5px solid rgb(231, 231, 231);
    padding-left: 5px;
    width: 35%;
    height: 95.5%;
    border-left: none;
}

.selecionar{
    width: 30%;
    height: 100%;
    margin-right: 20px;
    border: 0.5px solid rgb(231, 231, 231);
}
.conteudoo{
    width: 92%;
}
@media screen and (max-width: 900px) {
    .container{
        width: 100%;
    }
    .conteudoo{
        width: 100%;
    }
    .icons{
        width: 100%;
    }
    .btn{
        width: auto;
    }
    

}