
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Associados</title>

    <!-- Barra lateral para ver como fica na pagina -->
    <app-sidebar></app-sidebar>
    <div class="associados">
        <H1 class="titulo">Associados</H1>
        <div class="input-group">
            <button class="input-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input [(ngModel)]="filteredname" class="input-search" id="searchbar" onkeyup="search_geral()" name="search" placeholder="Digite o nome do associado" >
        </div>
        
    
        <div class="principal" *ngFor="let employe of employelist | filteName:filteredname">
                    
                    <hr class=line size="1" width="100%" noshade  style="margin-top: 7px; margin-bottom: 7px;">
                    <div div class="informacoes">
                        <h1 class="mb-1">{{employe.name}}</h1>
                        <small>{{employe.project.name}}</small>
                        
                    </div>
                    <span class="competenc">
                        <span *ngFor="let item of employe.skills">{{item.name}} |</span>
                    </span>
                    
        </div>
    </div>
    
